@font-face {
  font-family: "RobotoRegular";
  src: url(../font/roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: "RobotoMedium";
  src: url(../font/roboto/Roboto-Medium.ttf);
}
@font-face {
  font-family: "RobotoLight";
  src: url(../font/roboto/Roboto-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@-webkit-keyframes fadeInOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes pulse {
  50% {
    height: 17px;
  }
  100% {
    height: 4px;
  }
}
@keyframes pulse {
  50% {
    height: 17px;
  }
  100% {
    height: 4px;
  }
}
body {
  color: #2E2E2E;
  padding: 0 0 48px;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.clm {
  display: flex;
  flex-direction: column;
}

header {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 52px 0;
}
header img {
  max-width: 100%;
}
header .nav {
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
header .nav span {
  width: 100%;
  height: 3px;
  background-color: black;
  border-radius: 20px;
  margin: 1px 0;
}

.content {
  display: flex;
  width: 100%;
  max-width: 1184px;
  margin: 0 auto;
}

.date_box {
  width: 100%;
  display: flex;
  width: 100%;
  max-width: 1184px;
  margin: 0 auto;
  margin: 12px auto 32px;
}
.date_box .date_text {
  font-family: "RobotoRegular";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.title {
  font-family: "RobotoLight";
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 56px;
  display: flex;
  width: 100%;
  max-width: 1184px;
  margin: 0 auto;
  margin: 0 auto 24px;
}

.main_img {
  display: flex;
  width: 100%;
  max-width: 1184px;
  margin: 0 auto;
  margin: 64px auto 0;
}

.article_box {
  display: flex;
  width: 100%;
  max-width: 1184px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 64px;
}
.article_box.recent_posts_box .row {
  width: 100%;
  justify-content: space-between;
}
.article_box.recent_posts_box .clm {
  max-width: 30%;
}
.article_box.recent_posts_box .poster {
  max-width: 100%;
  margin: 0 0 8px;
}
.article_box.recent_posts_box .text {
  line-height: 28px;
}
.article_box .h2_title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  margin: 0 0 32px;
}
.article_box .h2_title.red {
  color: #DD2747;
}
.article_box .text {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  margin: 32px 0 0;
}
.article_box .text:first-of-type {
  margin: 0;
}
.article_box .text a {
  color: #78A880;
  cursor: pointer;
}
.article_box .poster {
  max-width: 284px;
  margin-left: 32px;
}

.social_box {
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #EBEBEB;
  border-top: 1px solid #EBEBEB;
  padding: 24px 0;
  margin: 24px 0 0;
}
.social_box img {
  max-width: 35px;
  margin: 0 12px;
  cursor: pointer;
}
.social_box .comment_box {
  margin: 0 12px;
  padding: 1px 15px;
  border: 1px solid #BDBDBD;
  font-weight: 400;
  font-size: 16px;
  line-height: 33px;
  text-align: center;
  color: #BDBDBD;
  font-family: "RobotoRegular";
  cursor: default;
}

.title_section {
  padding: 24px 0 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-family: "RobotoRegular";
}
.title_section h6 {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #333333;
  width: 100%;
}
.title_section .note {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #999999;
  margin-top: 16px;
}
.title_section .title {
  color: #7B1B18;
  font-weight: 500;
  font-size: 38px;
  line-height: 45px;
  margin: 8px 0;
}
.title_section .autor {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #2E2E2E;
}
.title_section .autor span {
  font-size: 14px;
  color: #7B1B18;
}
.title_section .date_box {
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #999999;
  margin: 3px 0 24px;
}

.narrativ-player_section {
  display: flex;
  width: 100%;
  max-width: 1184px;
  margin: 0 auto;
  background: #F5F5F5;
  box-shadow: 4px 0px 15px rgba(0, 0, 0, 0.12);
  padding: 21px 24px;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s;
}
.narrativ-player_section .narrativ-info_box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.narrativ-player_section .narrativ-info_box .narrativ-volume_text {
  display: none;
}
.narrativ-player_section .narrativ-title_box {
  display: flex;
  max-width: 320px;
  align-items: center;
  justify-content: flex-start;
}
.narrativ-player_section .narrativ-title_box .narrativ-current_photo {
  width: 80px;
  height: 80px;
  background-image: url("../img/img.png");
  background-position: center;
  background-size: cover;
  margin: 0 16px 0 0;
  position: relative;
}
.narrativ-player_section .narrativ-title_box .narrativ-current_title {
  font-family: "RobotoMedium", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  cursor: default;
}
.narrativ-player_section .narrativ-title_box .narrativ-current_title:hover {
  color: #5B88FF;
}
.narrativ-player_section .narrativ-volume_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.narrativ-player_section .narrativ-volume_text {
  font-family: "RobotoMedium", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #999999;
}
.narrativ-player_section .narrativ-volume_text img {
  max-width: 65px;
  margin: 0 0 0 4px;
}

.narrativ-musicBar_animation {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, rgba(64, 64, 64, 0.4), rgba(64, 64, 64, 0.4));
  border-radius: 8px;
}
.narrativ-musicBar_animation.narrativ-play span {
  -webkit-animation: pulse 1s linear infinite;
          animation: pulse 1s linear infinite;
}
.narrativ-musicBar_animation span {
  background: #FDFDFD;
  border-radius: 46.1538px;
  width: 3px;
  height: 4px;
  margin: 0 1.5px;
  display: block;
  position: relative;
  transition: all 1s;
}
.narrativ-musicBar_animation span:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.narrativ-musicBar_animation span:nth-child(2) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.narrativ-musicBar_animation span:nth-child(3) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.narrativ-musicBar_animation span:nth-child(4) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
.narrativ-musicBar_animation span:nth-child(5) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.narrativ-musicBar_animation span:nth-child(6) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.narrativ-musicBar_animation span:nth-child(7) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.narrativ-speed {
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.narrativ-speed .narrativ-speedValue {
  font-family: "RobotoRegular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #414141;
  cursor: pointer;
  margin: 0 5px;
  border: none;
  outline: none;
  background-color: transparent;
}
.narrativ-speed .narrativ-speedValue:hover, .narrativ-speed .narrativ-speedValue:disabled {
  color: #606060;
}
.narrativ-speed .narrativ-speedValue.active {
  color: #2E2E2E;
}
.narrativ-speed .narrativ-speedPop_Up {
  background: #F5F5F5;
  box-shadow: 4px 0px 15px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  padding: 16px 11px;
  visibility: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 120%;
  left: -130px;
  z-index: 10;
}
.narrativ-speed .narrativ-speedPop_Up.show {
  visibility: visible;
}

.narrativ-player_box.inActive {
  position: relative;
}
.narrativ-player_box.inActive::after {
  width: 100%;
  height: 30%;
  content: "";
  position: absolute;
  bottom: 0%;
  left: 0;
  background-color: transparent;
  z-index: 10;
}

.narrativ-controller_box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 0 20px;
}
.narrativ-controller_box .narrativ-play_btn {
  width: 51px;
  height: 51px;
  background-color: #4169E1;
  border-radius: 33.275px;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 17px;
  background-image: url("../img/play.svg");
  background-position: 56% 50%;
  background-repeat: no-repeat;
  background-size: 20px;
  transition: background-color 0.2s;
}
.narrativ-controller_box .narrativ-play_btn.narrativ-pause {
  background-image: url("../img/pause.svg");
  background-size: 16px;
  background-position: center;
}
.narrativ-controller_box .narrativ-play_btn:hover, .narrativ-controller_box .narrativ-play_btn:disabled {
  background-color: #5B88FF;
}
.narrativ-controller_box .narrativ-return {
  width: 30px;
  height: 35px;
  background-color: transparent;
  background-image: url("../img/return.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 0.2s;
}
.narrativ-controller_box .narrativ-return:hover, .narrativ-controller_box .narrativ-return:disabled {
  background-image: url("../img/return-hover.svg");
  background-size: 100%;
}
.narrativ-controller_box .narrativ-return::after {
  content: "15";
  position: absolute;
  color: #414141;
  font-size: 10px;
  font-weight: 400;
  padding: 6px 0 0;
  font-family: "RobotoRegular", sans-serif;
  transition: all 0.2s;
}
.narrativ-controller_box .narrativ-return:hover::after, .narrativ-controller_box .narrativ-return:disabled::after {
  color: #606060;
}
.narrativ-controller_box .narrativ-return.narrativ-return_forward {
  transform: scaleX(-1);
}
.narrativ-controller_box .narrativ-return.narrativ-return_forward::after {
  transform: scaleX(-1);
  padding: 6px 2px 0 0;
}

.narrativ-volume {
  margin: 0 0 20px;
  display: flex;
  align-items: center;
}
.narrativ-volume .narrativ-volume_icon {
  margin: 0 11px 0 0;
  max-width: 20px;
  width: 20px;
  height: 18px;
  background-image: url("../img/volume.svg");
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-size: 20px;
}
.narrativ-volume .narrativ-volume_icon.mute {
  background-image: url("../img/mute.svg");
}
.narrativ-volume .narrativ-volume_icon.mute:hover {
  background-image: url("../img/mute-hover.svg");
}
.narrativ-volume .narrativ-volume_icon:hover {
  background-image: url("../img/volume-hover.svg");
}
.narrativ-volume input {
  display: inline-block;
  vertical-align: middle;
  font-size: 1em;
  font-family: Arial, sans-serif;
}
.narrativ-volume input[type=range] {
  -webkit-appearance: none;
  width: 143px;
  height: 4px;
  background: #90AEFF;
  border-radius: 16px;
  background-image: linear-gradient(#4169E1, #4169E1);
  background-size: 70% 100%;
  background-repeat: no-repeat;
}
.narrativ-volume input[type=range].mute {
  background-size: 0% 100% !important;
}
.narrativ-volume input[type=range].mute::-webkit-slider-thumb {
  position: absolute;
  top: -6px;
}
.narrativ-volume input[type=range].mute::-moz-range-thumb {
  position: absolute;
  top: -6px;
}
.narrativ-volume input[type=range].mute::-ms-thumb {
  position: absolute;
  top: -6px;
}
.narrativ-volume input[type=range]:hover {
  background-image: linear-gradient(#5B88FF, #5B88FF);
}
.narrativ-volume input[type=range]:hover::-webkit-slider-thumb {
  background: #5B88FF;
}
.narrativ-volume input[type=range]:hover::-moz-range-thumb {
  background: #5B88FF;
}
.narrativ-volume input[type=range]:hover::-ms-thumb {
  background: #5B88FF;
}

.narrativ-audio_player {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.narrativ-audio_player .narrativ-currentTime,
.narrativ-audio_player .narrativ-durationTime {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #414141;
  font-family: "RobotoRegular";
  min-width: 30px;
  cursor: default;
}
.narrativ-audio_player .narrativ-timeline {
  background: rgba(144, 174, 255, 0.5);
  width: 446px;
  height: 4px;
  position: relative;
  cursor: pointer;
  margin: 0 8px;
  border-radius: 16px;
  display: flex;
}
.narrativ-audio_player .narrativ-timeline .narrativ-seek_slider {
  -webkit-appearance: none;
  height: 100%;
  background: #90AEFF;
  border-radius: 16px;
  background-image: linear-gradient(#4169E1, #4169E1);
  background-size: 0% 100%;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
}
.narrativ-audio_player .narrativ-timeline .narrativ-seek_slider#narrativ-buffered-amount {
  background-color: #90AEFF;
  width: 0;
}
.narrativ-audio_player .narrativ-timeline:hover .narrativ-seek_slider {
  background-image: linear-gradient(#5B88FF, #5B88FF);
}

#narrativ-player_here.sticky {
  height: 127px;
}
#narrativ-player_here.sticky .narrativ-player_section {
  margin: 0;
  position: fixed;
  bottom: 0;
  -webkit-animation: fadeInOut 0.5s ease-in-out;
          animation: fadeInOut 0.5s ease-in-out;
  max-width: 100vw;
  justify-content: center;
  height: 127px;
}
#narrativ-player_here.sticky .narrativ-player_section.resize {
  height: 76px;
  background-color: #4169E1;
  box-shadow: 4px 0px 15px rgba(0, 0, 0, 0.12);
  border-radius: 8px 8px 0px 0px;
  color: #FDFDFD;
  transition: all 0.5s;
  padding: 12px;
  /* Input Thumb */
}
#narrativ-player_here.sticky .narrativ-player_section.resize .narrativ-current_photo,
#narrativ-player_here.sticky .narrativ-player_section.resize .narrativ-audio_player,
#narrativ-player_here.sticky .narrativ-player_section.resize .narrativ-volume_text {
  display: none;
}
#narrativ-player_here.sticky .narrativ-player_section.resize .narrativ-arrow {
  background-color: #90AEFF;
}
#narrativ-player_here.sticky .narrativ-player_section.resize .narrativ-arrow.colapse::after {
  transform: rotate(180deg);
}
#narrativ-player_here.sticky .narrativ-player_section.resize .narrativ-play_btn {
  background-color: #FDFDFD;
  background-image: url("../img/play-blue.svg");
  transition: all 0.2s;
}
#narrativ-player_here.sticky .narrativ-player_section.resize .narrativ-play_btn.narrativ-pause {
  background-image: url("../img/pause-blue.svg");
}
#narrativ-player_here.sticky .narrativ-player_section.resize .narrativ-player_box {
  width: 522px;
}
#narrativ-player_here.sticky .narrativ-player_section.resize .narrativ-player_box.inActive::after {
  display: none;
}
#narrativ-player_here.sticky .narrativ-player_section.resize .narrativ-controller_box {
  margin: 0;
}
#narrativ-player_here.sticky .narrativ-player_section.resize .narrativ-controller_box .narrativ-return {
  background-image: url("../img/return-white.svg");
}
#narrativ-player_here.sticky .narrativ-player_section.resize .narrativ-controller_box .narrativ-return::after {
  color: #FDFDFD;
}
#narrativ-player_here.sticky .narrativ-player_section.resize .narrativ-current_title {
  max-width: 355px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#narrativ-player_here.sticky .narrativ-player_section.resize .narrativ-current_title:hover {
  color: #FDFDFD;
}
#narrativ-player_here.sticky .narrativ-player_section.resize .narrativ-volume {
  margin: 0;
}
#narrativ-player_here.sticky .narrativ-player_section.resize .narrativ-volume .narrativ-volume_icon {
  background-image: url("../img/volume-white.svg");
  transition: all 0.3s;
}
#narrativ-player_here.sticky .narrativ-player_section.resize .narrativ-volume .narrativ-volume_icon.mute {
  background-image: url("../img/mute-white.svg");
}
#narrativ-player_here.sticky .narrativ-player_section.resize .narrativ-speed .narrativ-speedValue {
  color: #FDFDFD;
}
#narrativ-player_here.sticky .narrativ-player_section.resize .narrativ-speed .narrativ-speedPop_Up {
  background-color: #4169E1;
  box-shadow: 4px 0px 15px rgba(0, 0, 0, 0.32);
}
#narrativ-player_here.sticky .narrativ-player_section.resize input[type=range] {
  background: #E4ECFF;
  background-image: linear-gradient(#FDFDFD, #FDFDFD);
  background-size: 70% 100%;
  background-repeat: no-repeat;
}
#narrativ-player_here.sticky .narrativ-player_section.resize input[type=range]:hover {
  background-image: linear-gradient(#FDFDFD, #FDFDFD);
}
#narrativ-player_here.sticky .narrativ-player_section.resize input[type=range]:hover::-webkit-slider-thumb {
  background: #FDFDFD;
}
#narrativ-player_here.sticky .narrativ-player_section.resize input[type=range]:hover::-moz-range-thumb {
  background: #FDFDFD;
}
#narrativ-player_here.sticky .narrativ-player_section.resize input[type=range]:hover::-ms-thumb {
  background: #FDFDFD;
}
#narrativ-player_here.sticky .narrativ-player_section.resize input[type=range]::-webkit-slider-thumb {
  background: #FDFDFD;
}
#narrativ-player_here.sticky .narrativ-player_section.resize input[type=range]::-moz-range-thumb {
  background: #FDFDFD;
}
#narrativ-player_here.sticky .narrativ-player_section.resize input[type=range]::-ms-thumb {
  background: #FDFDFD;
}
#narrativ-player_here.sticky .narrativ-player_section .narrativ-arrow {
  position: absolute;
  background: #4169E1;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  top: -16px;
  right: 40px;
  cursor: pointer;
}
#narrativ-player_here.sticky .narrativ-player_section .narrativ-arrow::after {
  content: "";
  background-image: url("../img/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  position: absolute;
  transition: all 0.3s;
  width: 100%;
  height: 100%;
}
#narrativ-player_here.sticky .narrativ-player_section .narrativ-player_box {
  margin: 0 85px 0 81px;
}

.mobile {
  display: none;
}

/* Input Thumb */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #4169E1;
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb:hover {
  background: #5B88FF;
}

input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #4169E1;
  cursor: pointer;
}
input[type=range]::-moz-range-thumb:hover {
  background: #5B88FF;
}

input[type=range]::-ms-thumb {
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #4169E1;
  cursor: pointer;
}
input[type=range]::-ms-thumb:hover {
  background: #5B88FF;
}

/* Input Track */
input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
  position: relative;
}

input[type=range]::-moz-range-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
  position: relative;
}

input[type=range]::-ms-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
  position: relative;
}

@media all and (max-width: 1200px) {
  .content,
.date_box,
.title,
.narrativ-player_section,
.main_img,
.article_box {
    max-width: 900px;
  }
  .narrativ-audio_player .narrativ-timeline {
    width: 300px;
  }
  .narrativ-player_section .narrativ-title_box .narrativ-current_title {
    font-size: 16px;
    max-width: 150px;
  }
  #narrativ-player_here.sticky .narrativ-player_section.resize .narrativ-player_box {
    width: 376px;
  }
  #narrativ-player_here.sticky .narrativ-player_section.resize .narrativ-current_title {
    max-width: 246px;
  }
  #narrativ-player_here.sticky .narrativ-player_section .narrativ-player_box {
    margin: 0 50px;
    background: transparent;
  }
}
@media all and (max-width: 900px) {
  header {
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.05);
    padding: 24px 0;
  }
  header .content {
    justify-content: center;
    align-items: center;
    position: relative;
  }
  header .nav {
    position: absolute;
    left: 0;
  }
  header img {
    display: none;
  }
  .main_img,
.article_box,
.date_box,
#article_title_box {
    display: none;
  }
  body {
    padding: 0 0 250px;
    background: #F5F5F5;
  }
  .mobile {
    display: flex;
  }
  .content,
.date_box,
.title,
.narrativ-player_section,
.main_img,
.article_box {
    max-width: 600px;
  }
  .title_section {
    max-width: 600px;
    display: flex;
    margin: 0 auto;
  }
  .article_box .row {
    flex-wrap: wrap-reverse;
  }
  .article_box .poster {
    margin: 0 0 8px;
  }
  .article_box.recent_posts_box .row {
    align-items: flex-end;
  }
  .narrativ-player_section {
    flex-direction: column;
    border-radius: 8px;
  }
  .narrativ-player_section .narrativ-title_box {
    max-width: 100%;
    width: 100%;
  }
  .narrativ-player_section .narrativ-title_box img {
    max-width: 60px;
  }
  .narrativ-player_section .narrativ-title_box .narrativ-current_title {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .narrativ-player_section .narrativ-info_box {
    flex-direction: column-reverse;
    max-width: calc(100% - 96px);
  }
  .narrativ-player_section .narrativ-info_box .narrativ-volume_text {
    display: block;
    margin: 0 0 8px;
  }
  .narrativ-player_section .narrativ-volume_box {
    display: none;
  }
  .narrativ-player_section .narrativ-volume_text img {
    margin: 0 0 0 3px;
  }
  .narrativ-player_box {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .narrativ-player_box.inActive::after {
    bottom: 55%;
    height: 40%;
  }
  .narrativ-controller_box {
    margin: 0;
  }
  .narrativ-audio_player {
    width: 100%;
    min-height: 45px;
    margin: 12px 0 0px;
    position: relative;
    align-items: flex-start;
  }
  .narrativ-audio_player .narrativ-timeline {
    width: 100%;
    margin: 0;
  }
  .narrativ-audio_player .narrativ-durationTime,
.narrativ-audio_player .narrativ-currentTime {
    position: absolute;
    top: 15px;
  }
  .narrativ-audio_player .narrativ-durationTime {
    right: 0;
  }
  .narrativ-audio_player .narrativ-currentTime {
    left: 0;
  }
  .narrativ-speed .narrativ-speedPop_Up {
    left: 0px;
  }
  #narrativ-player_here.sticky {
    height: 226px;
  }
  #narrativ-player_here.sticky .narrativ-player_section {
    height: 225px;
    padding: 16px 16px 20px;
    left: 0;
    box-shadow: 4px 0px 15px rgba(0, 0, 0, 0.12);
    border-radius: 8px 8px 0px 0px;
  }
  #narrativ-player_here.sticky .narrativ-player_section .narrativ-arrow {
    top: 16px;
    right: 5px;
    background-color: transparent;
  }
  #narrativ-player_here.sticky .narrativ-player_section .narrativ-arrow.colapse {
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  #narrativ-player_here.sticky .narrativ-player_section .narrativ-arrow.colapse::after {
    background-position: 20px 50%;
  }
  #narrativ-player_here.sticky .narrativ-player_section .narrativ-arrow::after {
    filter: invert(1);
  }
  #narrativ-player_here.sticky .narrativ-player_section.resize {
    height: 64px;
  }
  #narrativ-player_here.sticky .narrativ-player_section.resize .narrativ-arrow {
    background-color: transparent;
  }
  #narrativ-player_here.sticky .narrativ-player_section.resize .narrativ-arrow::after {
    filter: invert(0);
  }
  #narrativ-player_here.sticky .narrativ-player_section.resize .narrativ-speed,
#narrativ-player_here.sticky .narrativ-player_section.resize .narrativ-return {
    display: none;
  }
  #narrativ-player_here.sticky .narrativ-player_section.resize .narrativ-play_btn {
    width: 27px;
    height: 27px;
    background-size: 8px;
    margin: 0;
    z-index: 10;
  }
  #narrativ-player_here.sticky .narrativ-player_section.resize .narrativ-info_box {
    width: 100%;
    max-width: 100%;
  }
  #narrativ-player_here.sticky .narrativ-player_section.resize .narrativ-info_box .narrativ-current_title {
    width: 100%;
    max-width: 100%;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
  }
  #narrativ-player_here.sticky .narrativ-player_section.resize .narrativ-player_box {
    position: absolute;
    width: 60px;
    right: 50px;
    margin: 0;
    -webkit-animation: bg 0.3s 0.1s ease-in;
            animation: bg 0.3s 0.1s ease-in;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    transition: all 0.3s;
  }
  #narrativ-player_here.sticky .narrativ-player_section.resize .narrativ-player_box .narrativ-controller_box {
    justify-content: flex-end;
  }
  @-webkit-keyframes bg {
    from {
      background: transparent;
    }
    to {
      background: rgb(65, 105, 225);
      background: linear-gradient(270deg, rgb(65, 105, 225) 65%, rgba(65, 105, 225, 0.5368741246) 86%, rgba(65, 105, 225, 0.0690870098) 95%);
    }
  }
  @keyframes bg {
    from {
      background: transparent;
    }
    to {
      background: rgb(65, 105, 225);
      background: linear-gradient(270deg, rgb(65, 105, 225) 65%, rgba(65, 105, 225, 0.5368741246) 86%, rgba(65, 105, 225, 0.0690870098) 95%);
    }
  }
}
@media all and (max-width: 500px) {
  .content,
.narrativ-player_section,
.article_box {
    max-width: 100%;
    padding: 0 24px;
  }
  header {
    margin: 0 0 24px;
  }
  header .nav {
    left: 24px;
  }
  .title_section {
    max-width: 100%;
    padding: 0 24px;
  }
  .narrativ-player_section {
    padding: 16px 16px 20px;
  }
  #narrativ-player_here {
    padding: 0 24px;
  }
  .article_box .text {
    font-size: 20px;
    line-height: 23px;
  }
  .article_box .h2_title {
    font-size: 24px;
    line-height: 28px;
  }
  .article_box.recent_posts_box .row {
    flex-wrap: wrap;
  }
  .article_box.recent_posts_box .row .clm {
    width: 100%;
    max-width: 100%;
    margin: 0 0 20px;
  }
  #narrativ-player_here.sticky .narrativ-player_section.resize .narrativ-info_box .narrativ-current_title {
    max-width: 84%;
  }
}
@media all and (max-width: 330px) {
  header .content {
    padding: 0 24px 0 48px;
  }
}/*# sourceMappingURL=main_style.css.map */