$body-text-color:#2E2E2E;

$color-title:#DD2747;

$--narrativ-background-color:#F5F5F5;
$--narrativ-background-color-resize:#4169E1;
$--narrativ-color-progress:#4169E1;
$--narrativ-color-progress-hover:#5B88FF;
$--narrativ-color-fill:#90AEFF;
$--narrativ-color-text:#414141;
$--narrativ-color-text-hover:#606060;
$--narrativ-color-resize: #FDFDFD;
$--narrativ-color-fill-resize: #E4ECFF;

$--narrativ-font-size:12px;

@font-face {
    font-family: "RobotoRegular";
    src: url(../font/roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: "RobotoMedium";
    src: url(../font/roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: "RobotoLight";
    src: url(../font/roboto/Roboto-Light.ttf);
}

// @font-face {
//     font-family: "RobotoRegular", sans-serif;
//     src: url(../font/roboto/Roboto-Regular.ttf);
// }
$--narrativ-font-familyRegular:"RobotoRegular";
$--narrativ-font-familyMedium:"RobotoMedium";
$--narrativ-font-familyLight:"RobotoLight";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes fadeInOut {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes pulse {
    50% {
        height: 17px;
    }

    100% {
        height: 4px;
    }
}

@mixin contentView() {
    display: flex;
    width: 100%;
    max-width: 1184px;
    margin: 0 auto;
}


body {
    color: $body-text-color;
    padding: 0 0 48px;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.clm {
    display: flex;
    flex-direction: column;
}

header {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 52px 0;

    img {
        max-width: 100%;
    }

    .nav {
        width: 24px;
        height: 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        span {
            width: 100%;
            height: 3px;
            background-color: black;
            border-radius: 20px;
            margin: 1px 0;
        }
    }
}

.content {
    @include contentView();
}

.date_box {
    width: 100%;
    @include contentView();
    margin: 12px auto 32px;

    .date_text {
        font-family: $--narrativ-font-familyRegular;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
    }
}

.title {
    font-family: $--narrativ-font-familyLight;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 56px;
    @include contentView();
    margin: 0 auto 24px;
}



.main_img {
    @include contentView();
    margin: 64px auto 0;
}

// style for article
.article_box {
    @include contentView();
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 64px;

    &.recent_posts_box {
        .row {
            width: 100%;
            justify-content: space-between;
        }

        .clm {
            max-width: 30%;
        }

        .poster {
            max-width: 100%;
            margin: 0 0 8px;
        }

        .text {
            line-height: 28px;
        }
    }

    .h2_title {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 32px;
        margin: 0 0 32px;

        &.red {
            color: $color-title;
        }
    }

    .text {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        margin: 32px 0 0;

        &:first-of-type {
            margin: 0;
        }

        a {
            color: #78A880;
            cursor: pointer;
        }
    }

    .poster {
        max-width: 284px;
        margin-left: 32px;
    }
}

// style for social media in mobile
.social_box {
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #EBEBEB;
    border-top: 1px solid #EBEBEB;
    padding: 24px 0;
    margin: 24px 0 0;

    img {
        max-width: 35px;
        margin: 0 12px;
        cursor: pointer;
    }

    .comment_box {
        margin: 0 12px;
        padding: 1px 15px;
        border: 1px solid #BDBDBD;
        font-weight: 400;
        font-size: 16px;
        line-height: 33px;
        text-align: center;
        color: #BDBDBD;
        font-family: $--narrativ-font-familyRegular;
        cursor: default;
    }
}

// style for title section in mobile
.title_section {
    padding: 24px 0 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: $--narrativ-font-familyRegular;

    h6 {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        color: #333333;
        width: 100%;
    }

    .note {
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        color: #999999;
        margin-top: 16px;
    }

    .title {
        color: #7B1B18;
        font-weight: 500;
        font-size: 38px;
        line-height: 45px;
        margin: 8px 0;
    }

    .autor {
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        color: #2E2E2E;

        span {
            font-size: 14px;
            color: #7B1B18;
        }
    }

    .date_box {
        display: flex;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: #999999;
        margin: 3px 0 24px;
    }

}

// style for player section. main
.player_section {
    @include contentView();
    background: #F5F5F5;
    box-shadow: 4px 0px 15px rgba(0, 0, 0, 0.12);
    padding: 21px 24px;
    justify-content: space-between;
    align-items: center;
    transition: all .3s;

    .info_box {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        .volume_text {
            display: none;
        }
    }

    .title_box {
        display: flex;
        max-width: 320px;
        align-items: center;
        justify-content: flex-start;

        .current_photo {
            width: 80px;
            height: 80px;
            background-image: url('../img/img.png');
            background-position: center;
            background-size: cover;
            margin: 0 16px 0 0;
            position: relative;
        }

        .current_title {
            font-family: $--narrativ-font-familyMedium, sans-serif;
            font-weight: 500;
            font-size: 20px;
            line-height: 23px;
            cursor: default;

            &:hover {
                color: $--narrativ-color-progress-hover;
            }
        }
    }

    .volume_box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .volume_text {
        font-family: $--narrativ-font-familyMedium, sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #999999;

        img {
            max-width: 65px;
            margin: 0 0 0 4px;
        }
    }

}

// style for animation when music sound
.musicBar_animation {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgba(64, 64, 64, 0.4), rgba(64, 64, 64, 0.4));
    border-radius: 8px;

    &.play {
        span {
            animation: pulse 1s linear infinite;
        }

    }

    span {
        background: #FDFDFD;
        border-radius: 46.1538px;
        width: 3px;
        height: 4px;
        margin: 0 1.5px;
        display: block;
        position: relative;
        transition: all 1s;

        &:nth-child(1) {
            animation-delay: 0s;
        }

        &:nth-child(2) {
            animation-delay: 0.3s;
        }

        &:nth-child(3) {
            animation-delay: 0.6s;
        }

        &:nth-child(4) {
            animation-delay: 0.9s;
        }

        &:nth-child(5) {
            animation-delay: 0.6s;
        }

        &:nth-child(6) {
            animation-delay: 0.3s;
        }

        &:nth-child(7) {
            animation-delay: 0s;
        }
    }
}

// style for speed pop Up
.speed {
    position: absolute;
    left: 0;
    transition: all .2s;

    .speedValue {
        font-family: $--narrativ-font-familyRegular, sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: $--narrativ-color-text;
        cursor: pointer;
        margin: 0 5px;
        border: none;
        outline: none;
        background-color: transparent;

        &:hover,
        &:disabled {
            color: $--narrativ-color-text-hover;
        }

        &.active {
            color: $body-text-color;
        }
    }

    .speedPop_Up {
        background: #F5F5F5;
        box-shadow: 4px 0px 15px rgba(0, 0, 0, 0.12);
        border-radius: 8px;
        padding: 16px 11px;
        visibility: hidden;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        bottom: 120%;
        left: -130px;
        z-index: 10;

        &.show {
            visibility: visible;
        }
    }

}

// when post roll play
.player_box {
    &.inActive {
        position: relative;

        &::after {
            width: 100%;
            height: 100%;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            background-color: transparent;
            z-index: 10;
        }
    }

}

// style for conroler section with button
.controler_box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 0 20px;

    .play_btn {
        width: 51px;
        height: 51px;
        background-color: $--narrativ-color-progress;
        border-radius: 33.275px;
        border: none;
        outline: none;
        cursor: pointer;
        margin: 0 17px;
        background-image: url("../img/play.svg");
        background-position: 56% 50%;
        background-repeat: no-repeat;
        background-size: 20px;
        transition: background-color .2s;

        &.pause {
            background-image: url("../img/pause.svg");
            background-size: 16px;
            background-position: center;
        }

        &:hover,
        &:disabled {
            background-color: #5B88FF;
        }
    }

    .return {
        width: 30px;
        height: 35px;
        background-color: transparent;
        background-image: url('../img/return.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        border: none;
        outline: none;
        cursor: pointer;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: color .2s;

        &:hover,
        &:disabled {
            background-image: url('../img/return-hover.svg');
            background-size: 100%;
        }

        &::after {
            content: '15';
            position: absolute;
            color: $--narrativ-color-text;
            font-size: 10px;
            font-weight: 400;
            padding: 6px 0 0;
            font-family: $--narrativ-font-familyRegular, sans-serif;
            transition: all .2s;
        }

        &:hover::after,
        &:disabled::after {
            color: $--narrativ-color-text-hover;
        }

        &.return_forward {
            transform: scaleX(-1);

            &::after {
                transform: scaleX(-1);
                padding: 6px 2px 0 0;
            }
        }
    }

}

// style for volume section
.volume {
    margin: 0 0 20px;
    display: flex;
    align-items: center;

    .volume_icon {
        margin: 0 11px 0 0;
        max-width: 20px;
        width: 20px;
        height: 18px;
        background-image: url("../img/volume.svg");
        background-position: 0% 50%;
        background-repeat: no-repeat;
        background-size: 20px;

        &.mute {
            background-image: url("../img/mute.svg");

            &:hover {
                background-image: url("../img/mute-hover.svg");
            }
        }

        &:hover {
            background-image: url("../img/volume-hover.svg");
        }
    }

    input {
        display: inline-block;
        vertical-align: middle;
        font-size: 1em;
        font-family: Arial, sans-serif;
    }

    input[type="range"] {
        -webkit-appearance: none;
        width: 143px;
        height: 4px;
        background: $--narrativ-color-fill;
        border-radius: 16px;
        background-image: linear-gradient($--narrativ-color-progress, $--narrativ-color-progress);
        background-size: 70% 100%;
        background-repeat: no-repeat;

        &.mute {
            background-size: 0% 100% !important;

            &::-webkit-slider-thumb {
                position: absolute;
                top: -6px;
            }

            &::-moz-range-thumb {
                position: absolute;
                top: -6px;
            }

            &::-ms-thumb {
                position: absolute;
                top: -6px;
            }
        }

        &:hover {
            background-image: linear-gradient($--narrativ-color-progress-hover, $--narrativ-color-progress-hover);

            &::-webkit-slider-thumb {
                background: $--narrativ-color-progress-hover;
            }

            &::-moz-range-thumb {
                background: $--narrativ-color-progress-hover;
            }

            &::-ms-thumb {
                background: $--narrativ-color-progress-hover;
            }

        }
    }


}

// style for audio player
.audio_player {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    #currentTime,
    #durationTime {
        font-weight: 500;
        font-size: $--narrativ-font-size;
        line-height: 14px;
        display: flex;
        align-items: center;
        color: $--narrativ-color-text;
        font-family: $--narrativ-font-familyRegular;
        min-width: 30px;
        cursor: default;
    }

    .timeline {
        background: $--narrativ-color-fill;
        width: 446px;
        height: 4px;
        position: relative;
        cursor: pointer;
        margin: 0 8px;
        border-radius: 16px;
        display: flex;

        .seek_slider {
            -webkit-appearance: none;
            width: 100%;
            height: 100%;
            background: $--narrativ-color-fill;
            border-radius: 16px;
            background-image: linear-gradient($--narrativ-color-progress, $--narrativ-color-progress);
            background-size: 0% 100%;
            background-repeat: no-repeat;
            display: inline-block;
            vertical-align: middle;
        }

        &:hover {
            .seek_slider {
                background-image: linear-gradient($--narrativ-color-progress-hover, $--narrativ-color-progress-hover);
            }
        }

    }

}

// style for player when scroll and fixed it
#player_here {
    &.sticky {
        height: 127px;


        .player_section {
            margin: 0;
            position: fixed;
            bottom: 0;
            animation: fadeInOut .5s ease-in-out;
            max-width: 100vw;
            justify-content: center;
            height: 127px;

            &.resize {
                height: 76px;
                background-color: $--narrativ-background-color-resize;
                box-shadow: 4px 0px 15px rgba(0, 0, 0, 0.12);
                border-radius: 8px 8px 0px 0px;
                color: $--narrativ-color-resize;
                transition: all .5s;
                padding: 12px;

                .current_photo,
                .audio_player,
                .volume_text {
                    display: none;
                }

                .arrow {
                    background-color: $--narrativ-color-fill;

                    &.colapse::after {
                        transform: rotate(180deg);
                    }
                }

                .play_btn {
                    background-color: $--narrativ-color-resize;
                    background-image: url('../img/play-blue.svg');
                    transition: all .2s;

                    &.pause {
                        background-image: url('../img/pause-blue.svg');
                    }
                }

                .player_box {
                    width: 522px;
                }

                .controler_box {
                    margin: 0;

                    .return {
                        background-image: url('../img/return-white.svg');

                        &::after {
                            color: $--narrativ-color-resize;
                        }
                    }
                }

                .current_title {
                    max-width: 355px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;

                    &:hover {
                        color: $--narrativ-color-resize;
                    }
                }

                .volume {
                    margin: 0;

                    .volume_icon {
                        background-image: url('../img/volume-white.svg');
                        transition: all .3s;

                        &.mute {
                            background-image: url('../img/mute-white.svg');
                        }
                    }
                }

                .speed {
                    .speedValue {
                        color: $--narrativ-color-resize;

                    }

                    .speedPop_Up {
                        background-color: $--narrativ-background-color-resize;
                        box-shadow: 4px 0px 15px rgb(0 0 0 / 32%);
                    }
                }

                input[type="range"] {
                    background: $--narrativ-color-fill-resize;
                    background-image: linear-gradient($--narrativ-color-resize, $--narrativ-color-resize);
                    background-size: 70% 100%;
                    background-repeat: no-repeat;

                    &:hover {
                        background-image: linear-gradient($--narrativ-color-resize, $--narrativ-color-resize);

                        &::-webkit-slider-thumb {
                            background: $--narrativ-color-resize;
                        }

                        &::-moz-range-thumb {
                            background: $--narrativ-color-resize;
                        }

                        &::-ms-thumb {
                            background: $--narrativ-color-resize;
                        }
                    }
                }

                /* Input Thumb */
                input[type="range"]::-webkit-slider-thumb {
                    background: $--narrativ-color-resize;
                }

                input[type="range"]::-moz-range-thumb {
                    background: $--narrativ-color-resize;
                }

                input[type="range"]::-ms-thumb {
                    background: $--narrativ-color-resize;
                }
            }

            .arrow {
                position: absolute;
                background: #4169E1;
                border-radius: 50%;
                width: 32px;
                height: 32px;
                top: -16px;
                right: 40px;
                cursor: pointer;

                &::after {
                    content: '';
                    background-image: url('../img/arrow.svg');
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: auto;
                    position: absolute;
                    transition: all .3s;
                    width: 100%;
                    height: 100%;

                }

            }

            .player_box {
                margin: 0 85px 0 81px;
            }
        }
    }
}

.mobile {
    display: none;
}


/* Input Thumb */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: $--narrativ-color-progress;
    cursor: pointer;

    &:hover {
        background: $--narrativ-color-progress-hover;
    }
}

input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: $--narrativ-color-progress;
    cursor: pointer;

    &:hover {
        background: $--narrativ-color-progress-hover;
    }

}

input[type="range"]::-ms-thumb {
    -webkit-appearance: none;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: $--narrativ-color-progress;
    cursor: pointer;

    &:hover {
        background: $--narrativ-color-progress-hover;
    }
}

/* Input Track */
input[type=range]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
    position: relative;
}

input[type=range]::-moz-range-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
    position: relative;
}

input[type="range"]::-ms-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
    position: relative;
}


@media all and (max-width:1200px) {
    @mixin contentView() {
        max-width: 900px;
    }

    .content,
    .date_box,
    .title,
    .player_section,
    .main_img,
    .article_box {
        @include contentView();
    }

    .audio_player {
        .timeline {
            width: 300px;
        }

    }

    .player_section {
        .title_box {
            .current_title {
                font-size: 16px;
                max-width: 150px;
            }
        }
    }

    #player_here {
        &.sticky {
            .player_section {
                &.resize {
                    .player_box {
                        width: 376px;
                    }

                    .current_title {
                        max-width: 246px;
                    }
                }

                .player_box {
                    margin: 0 50px;
                    background: transparent;
                }
            }
        }
    }
}

@media all and (max-width:900px) {
    @mixin contentView() {
        max-width: 600px;
    }

    header {
        box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.05);
        padding: 24px 0;

        .content {
            justify-content: center;
            align-items: center;
            position: relative;
        }

        .nav {
            position: absolute;
            left: 0;
        }

        img {
            display: none;
        }
    }

    .main_img,
    .article_box,
    .date_box,
    #article_title_box {
        display: none;
    }

    body {
        padding: 0 0 250px;
        background: #F5F5F5;
    }

    .mobile {
        display: flex;
    }

    .content,
    .date_box,
    .title,
    .player_section,
    .main_img,
    .article_box {
        @include contentView();
    }

    .title_section {
        @include contentView();
        display: flex;
        margin: 0 auto;
    }

    .article_box {
        .row {
            flex-wrap: wrap-reverse;
        }

        .poster {
            margin: 0 0 8px;
        }

        &.recent_posts_box {
            .row {
                align-items: flex-end;
            }
        }
    }

    .player_section {
        flex-direction: column;
        border-radius: 8px;


        .title_box {
            max-width: 100%;
            width: 100%;

            img {
                max-width: 60px;
            }

            .current_title {
                max-width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        .info_box {
            flex-direction: column-reverse;
            max-width: calc(100% - 96px);

            .volume_text {
                display: block;
                margin: 0 0 8px;
            }
        }

        .volume_box {
            display: none;
        }

        .volume_text {
            img {
                margin: 0 0 0 3px;
            }
        }
    }

    .player_box {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .controler_box {
        margin: 0;
    }

    .audio_player {
        width: 100%;
        min-height: 45px;
        margin: 12px 0 0px;
        position: relative;
        align-items: flex-start;

        .timeline {
            width: 100%;
            margin: 0;
        }

        #durationTime,
        #currentTime {
            position: absolute;
            top: 15px;
        }

        #durationTime {
            left: 0;
        }

        #currentTime {
            right: 0;
        }
    }

    .speed {
        .speedPop_Up {
            left: -33px;
        }
    }

    #player_here {
        &.sticky {
            height: 226px;

            .player_section {
                height: 225px;
                padding: 16px 16px 20px;
                left: 0;
                box-shadow: 4px 0px 15px rgba(0, 0, 0, 0.12);
                border-radius: 8px 8px 0px 0px;

                .arrow {
                    top: 16px;
                    right: 5px;
                    background-color: transparent;

                    &.colapse {
                        top: 0;
                        right: 0;
                        width: 100%;
                        height: 100%;

                        &::after {
                            background-position: 20px 50%;
                        }
                    }

                    &::after {
                        filter: invert(1);
                    }
                }

                &.resize {
                    height: 64px;

                    .arrow {
                        background-color: transparent;

                        &::after {
                            filter: invert(0);
                        }
                    }

                    .speed,
                    .return {
                        display: none;
                    }

                    .play_btn {
                        width: 27px;
                        height: 27px;
                        background-size: 8px;
                        margin: 0;
                        z-index: 10;
                    }

                    .info_box {
                        width: 100%;
                        max-width: 100%;

                        .current_title {
                            width: 100%;
                            max-width: 100%;
                            font-weight: 500;
                            font-size: 20px;
                            line-height: 23px;
                        }
                    }

                    .player_box {
                        position: absolute;
                        width: 60px;
                        right: 50px;
                        margin: 0;
                        animation: bg .3s .1s ease-in;
                        animation-fill-mode: forwards;
                        transition: all .3s;

                        & .controler_box {
                            justify-content: flex-end;
                        }
                    }

                    @keyframes bg {
                        from {
                            background: transparent;
                        }

                        to {
                            background: rgb(65, 105, 225);
                            background: linear-gradient(270deg, rgba(65, 105, 225, 1) 65%, rgba(65, 105, 225, 0.53687412464986) 86%, rgba(65, 105, 225, 0.06908700980392157) 95%);
                        }

                    }
                }
            }
        }
    }
}

@media all and (max-width:500px) {
    @mixin contentView() {
        max-width: 100%;
        padding: 0 24px;
    }

    .content,
    .player_section,
    .article_box {
        @include contentView();
    }

    header {
        margin: 0 0 24px;

        .nav {
            left: 24px;
        }
    }

    .title_section {
        @include contentView();
    }

    .player_section {
        padding: 16px 16px 20px;
    }

    #player_here {
        padding: 0 24px;
    }

    .article_box {
        .text {
            font-size: 20px;
            line-height: 23px;
        }

        .h2_title {
            font-size: 24px;
            line-height: 28px;
        }

        &.recent_posts_box {
            .row {
                flex-wrap: wrap;

                .clm {
                    width: 100%;
                    max-width: 100%;
                    margin: 0 0 20px;
                }
            }
        }
    }

    #player_here {
        &.sticky {
            .player_section {
                &.resize {
                    .info_box {
                        .current_title {
                            max-width: 84%;
                        }
                    }
                }
            }
        }
    }

    .speed {
        .speedPop_Up {
            left: 0px;
        }
    }
}

@media all and (max-width:330px) {
    header {
        .content {
            padding: 0 24px 0 48px;
        }
    }
}